<div class="card">
  <h3>{{ mediaItem.name }}</h3>
  <p class="custom-p"><strong>Genre </strong>{{ mediaItem.genre }}</p>
  <p class="custom-p"><strong>Category </strong>{{ mediaItem.category }}</p>
  <p class="custom-p">
    <strong>Release year </strong>{{ mediaItem.releaseYear }}
  </p>
  <p class="custom-p"><strong>Watched on </strong>{{ mediaItem.watchedOn }}</p>
  <div class="btn-box">
    <button>{{ mediaItem.favorite ? "Unlike" : "Like" }}</button>
    <button>Delete</button>
    <button>Edit</button>
  </div>
</div>
