<form [formGroup]="newMediaItemForm" (ngSubmit)="submit()">
  <fieldset>
    <legend>New media item</legend>

    <label for="name" class="required">Name</label><br />
    <input type="text" id="name" formControlName="name" /><br />

    <label for="genre">Genre</label><br />
    <input type="text" id="genre" formControlName="genre" /><br />

    <label for="category" class="required">Category </label><br />
    <input type="text" id="category" formControlName="category" /><br />

    <label for="releaseYear">Release year </label><br />
    <input type="text" id="releaseYear" formControlName="releaseYear" /><br />

    <label for="watchedOn" class="required">Watched on </label><br />
    <input type="date" id="watchedOn" formControlName="watchedOn" /><br />

    <input type="checkbox" id="isFavorite" formControlName="favorite" />
    <label for="isFavorite">Mark as favorite</label><br />

    <button type="submit" style="float: right">Add</button>
  </fieldset>
</form>
