<form>
  <fieldset>
    <legend>Edit media item</legend>

    <label for="name" class="required">Name</label><br />
    <input type="text" id="name" /><br />

    <label for="genre">Genre</label><br />
    <input type="text" id="genre" /><br />

    <label for="category" class="required">Category </label><br />
    <input type="text" id="category" /><br />

    <label for="releaseYear">Release year </label><br />
    <input type="text" id="releaseYear" /><br />

    <label for="watchedOn" class="required">Watched on </label><br />
    <input type="date" id="watchedOn" /><br />

    <input type="checkbox" id="isFavorite" />
    <label for="isFavorite">Mark as favorite</label><br />

    <button style="float: right">Save</button>
  </fieldset>
</form>
